services:
  db:
    image: postgres:16-alpine
    env_file:
      - .env
    volumes:
      - ./data/db:/var/lib/postgresql/data
    restart: always

  web:
    build: .
    command: >
      sh -c "python manage.py wait_for_db &&
             python manage.py migrate &&
             python manage.py runserver 0.0.0.0:8000"
    volumes:
      - ./:/code
    ports:
      - "8000:8000"
    env_file:
      - .env
    depends_on:
      - db
      - redis
    restart: always

  redis:
    image: redis:alpine
    ports:
      - "6379:6379"
    restart: always

  celery:
    build:
      context: .
      dockerfile: Dockerfile
    command: celery -A rick_and_morty_api worker -l info
    depends_on:
      - db
      - redis
    env_file:
      - .env
    restart: on-failure

  celery-beat:
      build:
        context: .
        dockerfile: Dockerfile
      command: >
        sh -c "python manage.py wait_for_db &&
               celery -A rick_and_morty_api beat -l INFO --scheduler django_celery_beat.schedulers:DatabaseScheduler"
      depends_on:
        - db
        - redis
      env_file:
        - .env
      restart: on-failure

  flower:
    build:
      context: .
      dockerfile: Dockerfile
    command: celery -A rick_and_morty_api flower --address=0.0.0.0
    ports:
      - "5555:5555"
    depends_on:
      - celery
    env_file:
      - .env
    restart: on-failure